# week 03 part 2

## 1. setting up environment

In [1]:
import numpy as np

import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',None)

import json

!pip install geopandas
!pip install geopy
!pip install beautifulsoup4
!pip install html5lib
from geopy.geocoders import Nominatim

import requests
from pandas.io.json import json_normalize

import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans

import folium

print("Library imported.")

Requirement already satisfied: geopandas in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (0.7.0)
Requirement already satisfied: shapely in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from geopandas) (1.7.0)
Requirement already satisfied: pyproj>=2.2.0 in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from geopandas) (2.6.0)
Requirement already satisfied: pandas>=0.23.0 in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from geopandas) (0.23.4)
Requirement already satisfied: fiona in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from geopandas) (1.8.13.post1)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (2.7.5)
Requirement already satisfied: pytz>=2011k in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (2018.7)
Requirement already satisfied: numpy>=1.9.0 in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (1.15.4)
Requirement already satisfied: six>=1.7 in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from fiona->geopandas) (1.12.0)
Requirement already satisfied: attrs>=17 in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from fiona->geopandas) (18.2.0)
Requirement already satisfied: munch in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: click<8,>=4.0 in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from fiona->geopandas) (7.0)
Requirement already satisfied: click-plugins>=1.0 in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from fiona->geopandas) (0.5.0)
Requirement already satisfied: geopy in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (1.21.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from geopy) (1.50)
Requirement already satisfied: beautifulsoup4 in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (4.6.3)
Requirement already satisfied: html5lib in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: six>=1.9 in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from html5lib) (1.12.0)
Requirement already satisfied: webencodings in /Users/dongningsun/anaconda3/lib/python3.7/site-packages (from html5lib) (0.5.1)
Library imported.

## 2. Scrape thWikipedia page

In [2]:
 data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
read_table = pd.read_html(url,header=[0])
df = read_table[0]
df.head(10)

  Postal code           Borough                                  Neighborhood
0         M1A      Not assigned                                           NaN
1         M2A      Not assigned                                           NaN
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
7         M8A      Not assigned                                           NaN
8         M9A         Etobicoke                              Islington Avenue
9         M1B       Scarborough                               Malvern / Rouge

## 3. modifying the dataframe
The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [4]:
#rename columns
df = df.rename(index=str, columns={'Postcode':'PostalCode','Neighbourhood':'Neighborhood'})
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

Only process the cells that have an assigned borough. Ignore cells with a borough that is *Not assigned*

In [5]:
#drop not assigned
df = df[df.Borough !='Not assigned']
df.reset_index(drop=True,inplace=True)
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

More than one neighborhood can exist in one postal code area, combine rows

In [6]:
#merge by postal code  
df = df.groupby('Postal code',as_index=False).agg(lambda x: ','.join(set(x.dropna())))

df.head()

  Postal code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

Borough not assigned neighborhood

In [7]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
df.loc[df['Neighborhood'] == 'Not assigned','Neighborhood'] = df['Borough']
#rename to make column name correct
df.rename(columns={"Postal code": "PostalCode"}, inplace=True)
df.head()

  PostalCode      Borough                              Neighborhood
0        M1B  Scarborough                           Malvern / Rouge
1        M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2        M1E  Scarborough       Guildwood / Morningside / West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

Show the number of rows

In [8]:
df.shape[0]

103

## 3.  create df containing geographical coordinates

In [9]:
# load the coordinates from the csv file on Coursera
df_geo = pd.read_csv("Geospatial_Coordinates.csv")
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [10]:
#initiating l and l
df['Latitude'] = '0';
df['Longitude'] = '0';

#adding coordinates
for i in df.index:
    for j in df_geo.index:
        if df.iloc[i, 0] == df_geo.iloc[j, 0]:
            df.iloc[i, 3] = df_geo.iloc[j, 1]
            df.iloc[i, 4] = df_geo.iloc[j, 2]
            
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.8067,-79.1944
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.7845,-79.1605
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.7636,-79.1887
3,M1G,Scarborough,Woburn,43.771,-79.2169
4,M1H,Scarborough,Cedarbrae,43.7731,-79.2395